body {
    background-color: yellowgreen; padding: 20px; font-size:larger;
    padding: 30px;
}
h1 {
    color:wheat;
    text-align: center;
}
h2{
    color:azure;
    text-align: center;
}
a {
    font-size: x-large;
    text-align: center;
}
p1 {
    color:cornsilk;
    text-align: center;
}
.content {
    display: flex;
    margin: 5%;
}
.content-left {
    margin-right: 70px;
    width: 700px;
    height: 860px;
    background-color: goldenrod;
    border-radius: 30px;
    border: 5px solid black;
    padding: 30px;
} 
.content-right {
    margin-top: 200px;
    width: 530px;
    height: 500px;
    background-color: goldenrod;
    border-radius: 30px;
    border: 5px solid black;
    padding: 30px;
}
.image {
    height: 100%;
    border-radius: 30px;
    border: 2px solid black;
}